body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:14px;
  top:10px;
  width:1542px;
  height:1210px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1542px;
  height:1210px;
}
#u2 {
  position:absolute;
  left:2px;
  top:597px;
  width:1538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:183px;
  top:11px;
  width:10px;
  height:1209px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:1192px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1209px;
}
#u4 {
  position:absolute;
  left:41px;
  top:83px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u4_img.selected {
}
#u4.selected {
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:41px;
  top:149px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u6_img.selected {
}
#u6.selected {
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:41px;
  top:223px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:41px;
  top:387px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:41px;
  top:452px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:41px;
  top:525px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:41px;
  top:598px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:41px;
  top:670px;
  width:121px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:41px;
  top:742px;
  width:81px;
  height:26px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_img.mouseDown {
}
#u20.mouseDown {
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:254px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u22_img.selected {
}
#u22.selected {
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u22_img.mouseDown {
}
#u22.mouseDown {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:50px;
  top:281px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u24_img.mouseDown {
}
#u24.mouseDown {
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:50px;
  top:308px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u26_img.mouseDown {
}
#u26.mouseDown {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:50px;
  top:335px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u28_img.mouseDown {
}
#u28.mouseDown {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:14px;
  top:515px;
  width:12px;
  height:45px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:45px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:216px;
  top:90px;
  width:1340px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:1323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1340px;
  height:1px;
}
#u33 {
  position:absolute;
  left:201px;
  top:1290px;
  width:804px;
  height:631px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:631px;
}
#u34 {
  position:absolute;
  left:2px;
  top:308px;
  width:800px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:216px;
  top:144px;
  width:1297px;
  height:136px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:136px;
}
#u36 {
  position:absolute;
  left:2px;
  top:60px;
  width:1293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1351px;
  top:230px;
  width:94px;
  height:30px;
  font-size:14px;
  color:#1C4070;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:216px;
  top:309px;
  width:1297px;
  height:540px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:540px;
}
#u40 {
  position:absolute;
  left:2px;
  top:262px;
  width:1293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:217px;
  top:349px;
  width:1296px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:1279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1296px;
  height:1px;
}
#u42 {
  position:absolute;
  left:225px;
  top:319px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1023px;
  top:1295px;
  width:451px;
  height:235px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:235px;
}
#u45 {
  position:absolute;
  left:2px;
  top:110px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1043px;
  top:455px;
  width:37px;
  height:16px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1404px;
  top:369px;
  width:57px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1363px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50_img.selected {
}
#u50.selected {
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:235px;
  top:200px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:235px;
  top:231px;
  width:121px;
  height:28px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background-image:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u55 {
  position:absolute;
  left:410px;
  top:200px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:553px;
  top:231px;
  width:102px;
  height:28px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:28px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:1071px;
  top:198px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1069px;
  top:231px;
  width:121px;
  height:28px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:1164px;
  top:233px;
  width:22px;
  height:22px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:553px;
  top:200px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:410px;
  top:231px;
  width:81px;
  height:28px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background-image:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u66 {
  position:absolute;
  left:898px;
  top:198px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:898px;
  top:231px;
  width:97px;
  height:28px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:225px;
  top:155px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:217px;
  top:179px;
  width:1296px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:1279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1296px;
  height:1px;
}
#u72 {
  position:absolute;
  left:1216px;
  top:230px;
  width:114px;
  height:28px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:1194px;
  top:233px;
  width:17px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1304px;
  top:232px;
  width:22px;
  height:22px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:216px;
  top:62px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1365px;
  top:456px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u79_img.selected {
}
#u79.selected {
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1366px;
  top:506px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u81_img.selected {
}
#u81.selected {
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:217px;
  top:355px;
  width:1294px;
  height:43px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:43px;
}
#u84 {
  position:absolute;
  left:2px;
  top:14px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:217px;
  top:440px;
  width:1294px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:1277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1294px;
  height:1px;
}
#u86 {
  position:absolute;
  left:217px;
  top:490px;
  width:1294px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:1277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1294px;
  height:1px;
}
#u87 {
  position:absolute;
  left:217px;
  top:540px;
  width:1294px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:1277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1294px;
  height:1px;
}
#u88 {
  position:absolute;
  left:217px;
  top:600px;
  width:1294px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:1277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1294px;
  height:1px;
}
#u89 {
  position:absolute;
  left:315px;
  top:367px;
  width:57px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:400px;
  top:367px;
  width:57px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:486px;
  top:367px;
  width:57px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:579px;
  top:367px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:802px;
  top:367px;
  width:85px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:1027px;
  top:367px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1134px;
  top:367px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:328px;
  top:411px;
  width:29px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:400px;
  top:411px;
  width:43px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:469px;
  top:411px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:568px;
  top:411px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:1023px;
  top:411px;
  width:72px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1134px;
  top:411px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:667px;
  top:411px;
  width:315px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:19px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:239px;
  top:367px;
  width:43px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:226px;
  top:411px;
  width:81px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1341px;
  top:368px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:328px;
  top:460px;
  width:29px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:400px;
  top:460px;
  width:43px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:469px;
  top:460px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:568px;
  top:460px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:1023px;
  top:460px;
  width:72px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:1134px;
  top:460px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:667px;
  top:460px;
  width:315px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:19px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:328px;
  top:510px;
  width:25px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:400px;
  top:510px;
  width:43px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:469px;
  top:510px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:568px;
  top:510px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:1023px;
  top:510px;
  width:72px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:1134px;
  top:510px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:667px;
  top:510px;
  width:315px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:19px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:226px;
  top:510px;
  width:81px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:327px;
  top:563px;
  width:29px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:399px;
  top:563px;
  width:43px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-size:14px;
  color:#000000;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:468px;
  top:563px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:567px;
  top:563px;
  width:89px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1022px;
  top:563px;
  width:72px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1133px;
  top:563px;
  width:43px;
  height:20px;
  font-size:14px;
  color:#000000;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:666px;
  top:563px;
  width:315px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:225px;
  top:563px;
  width:81px;
  height:19px;
  font-size:14px;
  color:#000000;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:1243px;
  top:410px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u169_img.selected {
}
#u169.selected {
}
#u169_img.mouseOver {
}
#u169.mouseOver {
}
#u170 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1245px;
  top:456px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u171_img.selected {
}
#u171.selected {
}
#u171_img.mouseOver {
}
#u171.mouseOver {
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1246px;
  top:507px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u173_img.selected {
}
#u173.selected {
}
#u173_img.mouseOver {
}
#u173.mouseOver {
}
#u174 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1367px;
  top:560px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u175_img.selected {
}
#u175.selected {
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1247px;
  top:559px;
  width:100px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  color:#1C4070;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u177_img.selected {
}
#u177.selected {
}
#u177_img.mouseOver {
}
#u177.mouseOver {
}
#u178 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:580px;
  top:289px;
  width:581px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u179_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u179_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u180 {
  position:absolute;
  left:20px;
  top:10px;
  width:540px;
  height:220px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:220px;
}
#u181 {
  position:absolute;
  left:2px;
  top:102px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:30px;
  top:22px;
  width:97px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:45px;
  top:79px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:58px;
  top:130px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:45px;
  top:179px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:20px;
  top:49px;
  width:540px;
  height:10px;
}
#u190_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u190_end {
  position:absolute;
  left:523px;
  top:-5px;
  width:18px;
  height:20px;
}
#u190_line {
  position:absolute;
  left:0px;
  top:5px;
  width:540px;
  height:1px;
}
#u191 {
  position:absolute;
  left:145px;
  top:81px;
  width:123px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:145px;
  top:132px;
  width:49px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u195 {
  position:absolute;
  left:145px;
  top:179px;
  width:325px;
  height:61px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
  color:#666666;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:61px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:1171px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u198 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:1231px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u200 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:1291px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u202 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1463px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u204 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:1107px;
  top:870px;
  width:54px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
}
#u206 {
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:1351px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u208 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1409px;
  top:870px;
  width:50px;
  height:50px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u210 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:711px;
  top:199px;
  width:81px;
  height:21px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-size:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:711px;
  top:231px;
  width:130px;
  height:28px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:28px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u214 {
  position:absolute;
  left:251px;
  top:106px;
  width:47px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-size:20px;
  color:#1E1E1E;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:224px;
  top:104px;
  width:20px;
  height:27px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u217 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:299px;
  top:107px;
  width:25px;
  height:25px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u219 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
